<!DOCTYPE html>

<html xmlns='http://www.w3.org/1999/xhtml'
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   
    <head>
        <title>lantilla</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:fragment='header'>
            <!-- <h1>[[#{plantilla.titulo}]]</h1>comment -->
            <h1 th:text='#{plantilla.titulo}'>Titulo</h1>
            
        </header>
        <footer th:fracment='footer'>
            <p>[[#{plantilla.pie-pagina}]] <a href="https://www.github.com/hys-soluciones-2/Tienda-HYS" target="_blank">Page Github</a></p>
        </footer>
    </body>
</html>
