<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Presentacion Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace='layout/plantilla :: header'></header>
        <h3>[[#{listar.paginaPresentacion}]]</h3>
        <a th:href="@{/listarProductos}">[[#{listar.productos}]]</a>
        <br/><!-- comment -->
        <a th:href="@{/listarProvedores}">[[#{listar.Provedores}]]</a>
        <br/><!-- comment -->
        <a th:href="@{/listarEstadosCompras}">[[#{listar.estadoCompras}]]</a>
        <br/><!-- comment -->
        <a th:href="@{/listarTipoGastos}">[[#{listar.tiposGastos}]]</a>
        <br/><!-- comment -->
        <a th:href="@{/listarVentas}">[[#{listar.tablaVentas}]]</a>
        <br/><!-- comment -->
        <a th:href="@{/listarGastos}">[[#{listar.tablaGastos}]]</a>
        <br/><!-- comment -->
        <a th:href="@{/listarCompras}">[[#{listar.compras}]]</a>
        <footer th:replace='layout/plantilla :: footer'></footer>
    </body>
</html>
