<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Presentacion Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace='layout/plantilla :: header'></header>
        <h3>Pagina de Presentacion INICIO</h3>
        <a th:href="@{/listarProductos}">Listar Productos</a>
        <br/><!-- comment -->
        <a th:href="@{/listarProvedores}">Listar Provedores</a>
        <br/><!-- comment -->
        <a th:href="@{/listarEstadosCompras}">Listar Estados Compras</a>
        <br/><!-- comment -->
        <a th:href="@{/listarTipoGastos}">Listar Los Tipos de Gastos</a>
        <br/><!-- comment -->
        <a th:href="@{/listarVentas}">Listar Tabla de Ventas</a>
        <br/><!-- comment -->
        <a th:href="@{/listarGastos}">Listar Tabla de Gastos</a>
        <br/><!-- comment -->
        <a th:href="@{/listarCompras}">Listar las Compras</a>
        <footer th:replace='layout/plantilla :: footer'></footer>
    </body>
</html>
